<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
 Artist Directory
  </h1>
  <label *ngIf="title">Name: {{title}}</label>
  <br><br><br>
  <input #newArtistName>
  <input #newArtistBio>
  <button (click)="addArtist(newArtistName.value,newArtistBio.value); newArtist.value=''">Add</button>
   </div>
<ul style="list-style: none">
  <li #Element (click)="onClick(item.name, Element)" *ngFor="#item of artists">
  	<br>
<h3>{{item.name}}</h3>
  </li>
</ul>
