<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
 Artist Directory
  </h1>
  <label *ngIf="title">Name: {{title}}</label><br><br><br>
  <input #newArtist>
  <button (click)="addArtist(newArtist.value); newArtist.value=''">Add</button>
 </div>
<ul style="list-style: none">
  <li #Element (click)="onClick(item, Element)" *ngFor="#item of artists">
  	<br>
  	<h3>{{item.name}}</h3>
  </li>
</ul>
